.header {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
	align-items: center;
	padding: 92px 50px;
}

.header__links-list {
	display: flex;
	gap: 32px;
	text-transform: lowercase;
}

.header__links-list-item {
	font-size: 18px;
	list-style: circle;
}

.header__links-list-item:first-child {
	list-style: none;
}

.header__link {
	border-bottom: 1px solid;
	text-decoration: none;
}

.header__link_active {
	border-bottom: none;
}

.header__logo {
	width: 148px;
}

.address {
	max-width: 240px;
	font-size: 18px;
	font-style: normal;
	line-height: 1.35;
}

.header__address {
	justify-self: end;
}

.address a {
	border-bottom: 1px solid;
	text-decoration: none;
}

.cover {
	position: relative;
	padding: 165px 50px 50px;
	background-image: url(../images/cover.jpg);
	background-size: cover;
	background-position: center;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
	position: relative;
	z-index: 1;
	color: #fff;
	font-size: 100px;
	line-height: 1.15;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	margin-bottom: 135px;
}

.cover__title > :first-child {
	line-height: 1.15;
}

.aligned-text {
	display: block;
	margin-top: 20px;
	line-height: 1;
}

.aligned-text_center {
	text-align: center;
}

.aligned-text_right {
	text-align: right;
}

.letter-spacing-extended {
	letter-spacing: 0.6em;
}

.no-letter-spacing {
	letter-spacing: initial;
}

.cover__description {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 78px;
}

.cover__description-text {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	word-spacing: 18px;
}

.bet-button {
	border: 1px solid #fff;
	padding: 12px 32px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
	background: transparent;
}

.lots {
	padding: 0 24px;
}

.lots__heading {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	padding: 179px 0 25px 40px;
}

.lots__card-list {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	list-style: none;
}

.lots__card-list-item {
	flex-grow: 1;
	width: 334px;
	min-height: 563px;
}
.card-link {
	display: block;
	height: 100%;
	text-decoration: none;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding: 50px 40px;
	color: #fff;
	background-color: #000;
	background-position: center;
	background-size: cover;
}

.card_type_film {
	background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
	background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
	background-image: url(../images/card-lot-03.jpg);
}

.card__title {
	z-index: 1;
	font-size: 22px;
	text-transform: uppercase;
	text-decoration: underline;
}

.card__text {
	z-index: 1;
	color: #fff;
	font-size: 20px;
	line-height: 1.2;
}

.lots__look-more-link {
	display: inline-block;
	margin-top: 30px;
	margin-left: 40px;
	border-bottom: 1px solid;
	color: #000;
	font-size: 20px;
	text-decoration: none;
	text-transform: lowercase;
}

.about {
	display: grid;
	grid-template-columns: 334px 1fr;
	gap: 25px;
	padding: 180px 24px 0 24px;
}

.about__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 240px;
	margin: auto;
	border-radius: 50%;
	background-color: black;
}

.about__logo-image {
	width: 148px;
	height: 114px;
}

.about__title {
	padding: 100px 0;
	font-size: 40px;
	text-transform: uppercase;
}

.about__text {
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-size: 20px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	padding: 183px 50px 88px 50px;
}

.footer__menu-list {
	text-align: center;
	font-size: 18px;
	list-style: none;
}

.footer__menu-list-item {
	text-align: center;
}

.footer__menu-link {
	border-bottom: 1px solid;
	text-decoration: none;
}

.footer__menu-link_active {
	border-bottom: none;
}

.footer__social-list {
	display: flex;
	justify-self: end;
	gap: 48px;
	list-style: none;
}

.footer__social-icon {
	width: 48px;
}
