.header {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	padding: 92px 50px 96px 50px;
}

.header__menu {
	font-size: 18px;
	text-transform: lowercase;
	color: #000;
}

.header__links-list {
	display: flex;
	gap: 32px;
}

.header__links-list-item {
	list-style-type: circle;
}

.header__links-list-item_no-bullit {
	list-style-type: none;
	letter-spacing: normal;
}

.header__link {
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	letter-spacing: 0.18px;
}

.header__link_active {
	text-decoration-line: none;
}

.header__logo {
	display: block;
	width: 135px;
}

.address {
	font-style: normal;
	font-size: 18px;
	max-width: 240px;
	line-height: 1.35;
}

.header__address {
	justify-self: right;
}

.address a {
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	letter-spacing: 0.18px;
}

.cover {
	position: relative;
	background-image: url(../images/cover.jpg);
	background-size: cover;
	background-position: center;
	z-index: -2;
}

.overlay {
	position: absolute;
	background-color: rgb(0 0 0 / 0.6);
	inset: 0;
	z-index: -1;
}

.cover__title {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #fff;
	font-size: 100px;
	font-style: normal;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 30px;
	text-transform: uppercase;
	padding: 165px 50px 135px 50px;
}

.cover__title > :first-child {
	line-height: 1.15;
}

.aligned-text {
	display: block;
}

.aligned-text_center {
	text-align: center;
	padding-right: 60px;
}

.aligned-text_right {
	text-align: right;
}

.letter-spacing-extended {
	letter-spacing: 60px;
}

.no-letter-spacing {
	letter-spacing: 0;
}

.cover__description {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	padding-bottom: 51px;
}

.cover__description-text {
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	margin-left: 78px;
	word-spacing: 18px;
}

.bet-button {
	margin-right: 50px;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	background: transparent;
	padding: 12px 32px;
}

.lots {
	padding: 0 24px;
}

.lots__heading {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	padding: 179px 0 27px 40px;
}

.lots__card-list {
	list-style-type: none;
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
}

.lots__card-list-item {
	width: 334px;
	min-height: 563px;
	flex-grow: 1;
}
.card-link {
	display: block;
	text-decoration: none;
	height: 100%;
}
.card {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 51px 40px 48px 40px;
}
.card_type_film {
	position: relative;
	background-image: url(../images/card-lot-01.jpg);
	background-size: cover;
	background-position: center;
	z-index: -2;
}

.card_type_book {
	position: relative;
	background-image: url(../images/card-lot-02.jpg);
	background-size: cover;
	background-position: center;
	z-index: -2;
}

.card_type_picture {
	position: relative;
	background-image: url(../images/card-lot-03.jpg);
	background-size: cover;
	background-position: center;
	z-index: -2;
}

.card__title {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

.card__text {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
}

.lots__look-more-link {
	display: block;
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 30px 0 0 40px;
	text-transform: lowercase;
	text-decoration-thickness: 1px;
	text-underline-offset: 5px;
}

.about {
	padding: 183px 24px 0 24px;
}

.about__column {
	display: grid;
	grid-template-columns: 334px auto;
	gap: 25px;
}

.about__logo {
	justify-self: center;
	display: flex;
	border-radius: 50%;
	background-color: black;
	width: 240px;
	height: 240px;
	justify-content: center;
	align-items: center;
}

.about__logo-image {
	display: absolute;
	width: 148px;
	height: 114px;
}

.about__content p:first-of-type {
	padding-bottom: 24px;
}

.about__title {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	padding-bottom: 100px;
	padding-top: 101px;
}

.about__text {
	color: #000;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.2px;
}

.footer {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	padding: 180px 50px 88px 50px;
}

.footer__menu-list {
	list-style-type: none;
}

.footer__menu-list-item {
	text-align: center;
}
.footer__menu-link {
	text-decoration-line: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
}

.footer__menu-link_active {
	text-decoration-line: none;
}

.footer__social-list {
	display: flex;
	gap: 48px;
	list-style-type: none;
	justify-self: right;
}

.footer__social-link {
	display: block;
	width: 48px;
}
